
@media (max-width: 431px) {
    /* за размер секции */
    .start__section {
        text-align: center;
        padding-top: 269px;
    }
    
    /* Круг в первом */
    .start__circle {
        margin: 0 auto;
        width: 205px;
        height: 205px;
        border-radius: 100%;
        background-color: #D9D9D9;
    }

    /* Заголовок */
    .start__title {
        margin-top: 60px;
        font-family: Nunito;
        font-size: 24px;
        font-weight: 400;
        line-height: 32.74px;
        text-align: center;

    }

    /* Кнопка */
    .start__btn {
        margin-top: 70px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 20.16px;
        background-color: #C7F2A4;
        padding: 16px 32px;
        border-radius: 13px;
        border: none;
    }

}