@media (max-width: 393.998px) {
    .tell__section {
    }

    /* Форма регистпации */
    .tell__form {
        /* margin: 0 auto; */
        display: flex;
        flex-direction: column;
        width: 95%;
        gap: 4px;
        text-align: center;
        margin: 0 auto;
    }
    
    .tell__nav {
        display: flex;
        align-items: center;
        height: 48px;
        width: 100%;
    }

    .tell__time {
        font-size: 15px;
        height: 0;
        margin-right: auto;
    }


    .tell__nav__svg {
        display: flex;
        justify-content: space-around;
    }

    .tell__svg {
        margin-left: 5px;
    }

    .tell__svg__network {
        background-image: url("../img/Network.svg");
        background-repeat: no-repeat;
        background-position: center center;
        width: 16px;
        height: 16px;
    }

    .tell__svg__wifi {
        background-image: url("../img/Wifi.svg");
        background-repeat: no-repeat;
        background-position: center center;
        width: 16px;
        height: 16px;
        
        
    }

    .tell__svg__energy {
        background-image: url("../img/Battery.svg");
        background-repeat: no-repeat;
        background-position: center center;
        width: 16px;
        height: 16px;



    }

    .tell__arrow {
        margin-top: 33pxpx;
        background-image: url("../img/arrow.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: auto;
        width: 24px;
        height: 24px;
    }



        /* Заголовок */
    .tell__title {
        margin-top: 27px;
        margin-bottom: 24px;
        font-family: Roboto;
        font-size: 24px;
        font-weight: 700;
        line-height: 28.8px;
    }

    .tell__input {
        border: none;
        border-bottom: 1px solid rgb(27, 27, 27);
        padding: 40px 0px 4px 0px;
    }

    .tell__input:active {
        outline: none;
        box-shadow: -2px 59px 91px -25px #C7F2A4;
    }

    .tell__input:focus {
        outline: none;
        box-shadow: -2px 59px 91px -25px #C7F2A4;
    }

    .tell__input::placeholder {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;

    }


/* Кнопка  */

    .tell__div__btn {
        width: 100%;
    }

    .tell__btn {
        width: 100%;
        margin-top: 24px;
        text-align: center;
        background-color: #C7F2A4;
        padding: 16px 32px;
        border: none;
        border-radius: 13px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color: rgb(27, 27, 27);
        font-family: Roboto;
        line-height: 126%;
        letter-spacing: 0px;
        
    }

}

/* /* Второй слайд  */