@media (max-width: 393.998px) {

    body {
         margin: 0;
    }

    .personal_plan__padding {
        padding: 0 24px 50px;
        text-align: center;
    }

    .tell__nav {
        display: flex;
        align-items: center;
        height: 48px;
        padding: 15px 24px;
    }



    .tell__time {
        color: rgb(27, 27, 27);
        font-family: Helvetica;
        font-size: 15px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: -0.3%;
        text-align: left;
    }


    .tell__nav__svg {
        display: flex;
        justify-content: space-around;
        margin-left: auto;
    }
    .tell__svg {
        margin-left: 5px;
    }

    .tell__svg__network {
        background-image: url("../img/Network.svg");
        background-repeat: no-repeat;
        background-position: center center;
        width: 16px;
        height: 16px;
    }

    .tell__svg__wifi {
        background-image: url("../img/Wifi.svg");
        background-repeat: no-repeat;
        background-position: center center;
        width: 16px;
        height: 16px;
        
        
    }

    .tell__svg__energy {
        background-image: url("../img/Battery.svg");
        background-repeat: no-repeat;
        background-position: center center;
        width: 16px;
        height: 16px;



    }



        /* Заголовок */
    .tell__title {
        margin-top: 80px;
        margin-bottom: 62px;
        color: rgb(27, 27, 27);
        font-family: Roboto;
        font-size: 24px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0%;
    }

    /* Сообщение */
    .chat {
        display: flex;
        margin-bottom: 387px;
    }

    .chat__div {
        width: 36px;
        margin-right: 8px;
    }

    .chat__img {
        border-radius: 100%;
        width: 36px;
        overflow: hidden;
    }

    .chat__text {
        display: block;
        background-color: #1868FB;
        padding: 20px 12px;
        border-radius: 0 24px 24px 24px;
        color: rgb(255, 255, 255);
        font-family: Helvetica Neue;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: left;
    }

 

/* Кнопка  */
    .tell__btn {
        width: 100%;
        margin: 24px auto 0;
        text-align: center;
        background-color: #C7F2A4;
        text-align: center;
        padding: 16px 60px;
        border: none;
        border-radius: 13px;
        font-family: Roboto;
        font-size: 126%;
        font-weight: 500;
        line-height: 20.16px;
        
    }

}

/* /* Третий слайд  */